*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
.container{
position: relative;
  height: 1200px;
  width:500px;
  padding: 20px;
  background-color: lightgreen;
}
.container .boxes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% 50);
}
/* box */
.box{
  /* position: absolute; */
  background-color: red;
  height: 300px;
  width: 300px;
  border: 2px;
  padding: 10px;
  box-shadow: 3px 3px black;
  margin-bottom: 15px;
}
