*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
.container{
  background-color: lightgreen;
}
/* box */
.box{
  background-color: red;
  height: 500px;
  width: 500px;
  border: 2px;
  padding: 10px;
  box-shadow: 3px 3px black;
  margin-bottom: 15px;
}
