*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
main{
position: relative;
background-color: grey;
}
.container .boxes{
  position: relative;
  height: 800px;
  width:400px;
  padding: 20px;
  margin-left: 20px;
  border: 5px solid black;
  background-color: white;
}
/* box */
.box{
  position: relative;
  border: 5px;
  width: 100%;
  height: 33%;
  box-shadow: 3px 3px black;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  list-style-type: none;
  cursor: pointer;
}
/* box singoli */
.paris {
  background-image: url(../img/parigi.jpg);
}
.venezia{
  background-image: url(../img/venezia.jpg);
}
.budapest {
  background-image: url(../img/budapest.jpg);
}
/* layover */
.layover{
  position: absolute;
  z-index: 2;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
/* titoli dei box */
.title{
position: absolute;
top: 50%;
left: 50%;
text-align: center;
font-size: 2em;
transform: translate(-50%, -50%);
color: white;
text-shadow: 2px 2px black;
}
